@import url('https://fonts.cdnfonts.com/css/chakra-petch');

body {
    background: rgb(204, 204, 204);
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Chakra Petch Light', sans-serif;
    font-family: 'Chakra Petch Medium', sans-serif;
    font-family: 'Chakra Petch SemiBold', sans-serif;
}

table,
th,
td {
    border: 0px solid black;
    border-bottom: 0px !important;
    border-collapse: collapse;
}

custom-elements.page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
}

custom-elements.page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

custom-elements.page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;
}

@media print {

    body,
    custom-elements.page {
        margin: 0;
        box-shadow: 0;
    }
}